<%# encoding: utf-8 %>
<% require_relative './term_names' %>
<% files = Dir.glob("ohr-*.output")%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon履歴</title>
  </head>
  <body>
    <h1>注文履歴</h1>
    <h2>取得済み注文履歴ファイル一覧</h2>
    <p id="links"><a href="index.html">メニューに戻る</a></p>
    <p id="msg">表示したい注文履歴の「詳細を表示」を押してください。</p>
    <hr>
    <table>
      <tr>
        <th>&nbsp;</th><th>取得期間</th><th>保存ファイル名</th>
      </tr>
      <% $term_names.each do |key, val| %>
        <% file = "ohr-#{key}.output" %>
        <% if FileTest.exist?(file) %>
          <tr>
            <td>
              <form method="post" action="report" name="list_form_<%= key %>" >
                <input type="hidden" name="term" value="<%= key %>" >
                <input type="hidden" name="file" value="<%= file %>" >
                <button class="exec_btn" type="submit">詳細を表示</button>
              </form>
            </td>
            <td><%= val %></td>
            <td><%= file %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <hr>
  </body>
</html>
